@CHARSET "UTF-8";
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
body{
	padding:0;
	margin:0;
	font-family: 'Titillium Web', 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	
}

H4 {
	padding-left:155px;
}

HR{
	border-color:lightgray;
}
.navbar-border{
	will-change: transform;
	background-color:black;
	position:fixed;
	height:100px;
	width:100%;
	z-index: -1;
}

.loginLink {
	position:absolute;
	right:10;
	top:70;
	color:lightgray;
	font-size: 12px;
	text-decoration: none;
}

.sidebar {
    width: 50px;
    height: 100%;
    height: 100vh;
    background-color: #090909;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    -webkit-transition: width 0.25s;
    transition: width 0.25s;
    top: 100px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.fa-2x {
font-size: 2em;
}
.fa {
position: fixed;
display: table-cell;
width: 60px;
height: 0px;
text-align: right;
vertical-align: right;
font-size:20px;
}


.sidemenu:hover,nav.sidemenu.expanded {
width:250px;
overflow:visible;
}

.sidemenu {
background:#000000;
border-right:1px solid #e5e5e5;
position:fixed;
top:100;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.sidemenu>ul {
margin:7px 0;
}

.sidemenu li {
position:relative;
display:block;
width:250px;

}

.sidemenu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:lightgray;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.sidemenu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.sidemenu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.sidemenu li:hover>a,nav.sidemenu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a, has-subnav {
color:#fff;
background-color:#E71515;
}

.content {
	position:fixed;
	top:100;
	left:100;
}

.title {
	position:relative;
	color:white;	
	width:250px !important;
	font-family: 'Titillium Web', sans-serif;
	opacity: 0.3;
	
}

.ui-growl{
	position:
	
}