@CHARSET "UTF-8";
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
body{
	padding:0;
	margin:0;
	font-family: 'Titillium Web', 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	 background-image: url("images/footer_lodyas.png");
}

H4 {
	padding-left:155px;
}

HR{
	border-color:lightgray;
}
.navbar-border{
	will-change: transform;
	background-color:black;
	position:fixed;
	height:100px;
	width:100%;
	z-index: -1;
         background-image: url("images/dvsup.png");
}

.loginLink {
	position:absolute;
	right:10px;
	top:70px;
	color:lightgray;
	font-size: 12px;
	text-decoration: none;
}

.loggedin{
    position:absolute;
	right:10px;
	top:70px;
        
}

.menutext{
    color:lightgray;
    font-size: 12px;
    text-decoration: none;
}

.sidebar {
    width: 50px;
    height: 100%;
    height: 100vh;
    background-color: #090909;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    -webkit-transition: width 0.25s;
    transition: width 0.25s;
    top: 100px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.fa-2x {
font-size: 2em;
}
.fa {
position: fixed;
display: table-cell;
width: 60px;
height: 0px;
text-align: right;
vertical-align: middle;
font-size:20px;
}


.sidemenu:hover,nav.sidemenu.expanded {
width:250px;
overflow:visible;
}

.sidemenu {
background:#000000;
border-right:1px solid #e5e5e5;
position:fixed;
top:100px;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
background-image: url("images/dvsup.png");
}

.sidemenu>ul {
margin:7px 0;
}

.sidemenu li {
position:relative;
display:block;
width:250px;

}

.sidemenu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:lightgray;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.sidemenu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.sidemenu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.sidemenu li:hover>a,nav.sidemenu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a, has-subnav {
color:#fff;
background-color:#bf0000;
}

.content {
	position:fixed;
	top:100px;
	left:60px;
        padding:10px;
        color:lightgray;
        width: 100%;
       
}

.title {
	position:relative;
	color:white;	
	width:250px !important;
	font-family: 'Titillium Web', sans-serif;
	opacity: 0.3;
	
}
/*changed the global growl position @yawei*/
.ui-growl{
	position: absolute;
        top: 20%;
        right:10%;
}

/*changes the position of individual growls, this one is for userCreation page @yawei*/
div[id="userCreateForm:growlUser_container"] {
    position:absolute;
    top:20%;
    left:45%;
}

.groupForm .ui-datatable{
    width:90%;
}

.ui-datatable th{
    
    background-image: none !important;
    color: #fff;
    font-weight: normal;
}
button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93 !important;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93 !important;
	box-shadow:inset 0px 1px 0px 0px #f29c93 !important;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100)) !important;
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%) !important;
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%) !important;
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%) !important;
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%) !important;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0)!important;
	background-color:#fe1a00 !important;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff !important;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35 !important;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00)) !important;
	background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%)!important;
	background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%) !important;
	background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%) !important;
	background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%)!important;
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0) !important;
	background-color:#ce0100 !important;
}
button:active {
	position:relative;
	top:1px;
}
